<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Environment variables are set in Openshift, make sure we have the correct values there if you want to enable LHT stash logging -->
    <property name="ERP_LOGGING_ENABLED" value="${ERP_LOGGING_ENABLED}" />

    <if condition='property("ERP_LOGGING_ENABLED").contains("true")'>
        <then>
            <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>${LHT_LOGGING_REMOTE_HOST}:${LHT_LOGGING_REMOTE_PORT}</destination>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <!--
                    A configurable subset was taken from the JBoss lht-platform-base-images lht-logstash.cli:
                    # The formatter to convert a log event to a json object string, that will then be
                    # transmitted to logstash. LHT.logging expects some fields to have non-standard
                    # names, those were taken from the old LhtJSONLogHandler.
                    -->
                    <fieldNames>
                        <message>log-message</message>
                    </fieldNames>
                    <customFields>
                        {
                        "host": "${HOSTNAME}",
                        "gmappid": "${APP_ID}",
                        "namespace": "${ERP_LOGGING_NAMESPACE}",
                        "stage": "${ERP_LOGGING_STAGE}"
                        }
                    </customFields>
                </encoder>
            </appender>
            <root>
                <appender-ref ref="stash"/>
            </root>
        </then>
    </if>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %X{requestId} %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.springframework.security" level="info" />
    <logger name="org.flywaydb" level="DEBUG"/>
</configuration>
